@import '../../styles/variables.scss';

.poster {
    position: relative;

    &__image {
        
        &--front {
            // position: relative;
            z-index: 1;
            transition: opacity 200ms ease;
        }

        &--front,
        &--back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            right: 100%;
        }

        &--hidden {
            opacity: 0;
        }
    }
}