@import '../../styles/variables.scss';

.loader {
    width: 4rem;
    height: 4rem;
    left: 50%;
    top: 50%;
    margin-left: -2rem;
    margin-top: 10rem;
    position: relative;
    animation: loader 1s infinite linear both;
}

.loader-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: loader-dot 2s infinite ease-in-out both;
}

.loader-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: $color-primary;
    border-radius: 100%;
    animation: loader-dot-before 2s infinite ease-in-out both;
}

.loader-dot:nth-child(1) {
    animation-delay: -1.1s;
}
.loader-dot:nth-child(2) {
    animation-delay: -1s;
}
.loader-dot:nth-child(3) {
    animation-delay: -0.9s;
}
.loader-dot:nth-child(4) {
    animation-delay: -0.8s;
}
.loader-dot:nth-child(5) {
    animation-delay: -0.7s;
}
.loader-dot:nth-child(6) {
    animation-delay: -0.6s;
}
.loader-dot:nth-child(1):before {
    animation-delay: -1.1s;
}
.loader-dot:nth-child(2):before {
    animation-delay: -1s;
}
.loader-dot:nth-child(3):before {
    animation-delay: -0.9s;
}
.loader-dot:nth-child(4):before {
    animation-delay: -0.8s;
}
.loader-dot:nth-child(5):before {
    animation-delay: -0.7s;
}
.loader-dot:nth-child(6):before {
    animation-delay: -0.6s;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-dot {
    80%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-dot-before {
    50% {
        transform: scale(0.4);
    }
    100%,
    0% {
        transform: scale(1);
    }
}
