@import '../../styles/variables';
* {
    box-sizing: border-box;
}
.auth-page {
    height: 100%;
    padding: $p-xl $p-sm $p-xl;
    text-align: center;

    &__form-wrapper {
        max-width: 60rem;
        width: 100%;
        margin: 0 auto;
        padding: $p-md;
        background-repeat: 0.2rem;
        box-shadow: 0 0 0.8rem rgba($color-dark-200, 0.3);
    }

    &__form {
        width: 80%;
        margin: 0 auto;
    }

    &__fieldset {
        margin-bottom: $m-md;
    }

    &__legend {
        width: 100%;
        font-size: $font-size-lg;
        font-weight: 700;
        text-align: center;
        // border-bottom: 0.1em solid #ccc;
        padding-bottom: $p-md;
        margin-bottom: $m-md;
    }

    &__divider {
        border-top: 1px solid $color-dark-100;
        margin: $m-sm auto;
        display: block;
    }

    &__submit-button {
        width: 100%;
    }

    input {
        width: 100%;
        max-width: none;
    }
}
