@import '../../styles/variables';

.button {
    color: #fff;
    border: none;
    cursor: pointer;
    
    &--primary,
    &--secondary {
        padding: $p-sm $p-md;
        color: #fff;

        &:hover {
            filter: brightness(150%);
            transition: 0.3s;
        }
    }

    &--primary {
        background-color: $color-primary;
    }
    
    &--secondary {
        background-color: $color-secondary;
    }

    &--tertiary {
        background-color: transparent;
        color: $color-secondary;
        border-bottom: 1px solid $color-secondary;
        font-weight: 700;

        &:hover {
            border-color: transparent;
        }
    }

    &,
    &:hover, 
    &:active {
        &[disabled] {
            background-color: $color-primary;
            filter: brightness(1);
            opacity: .5;
            cursor: not-allowed
        }
    }
}