@import '../../styles/variables.scss';

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    &__label {
        display: inline-block;
        font-size: $font-size-sm;
        font-weight: 70;
        letter-spacing: 0.1rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    &__error {
        display: block;
        margin-top: .3rem;
        color: $color-danger;
        font-size: 1.2rem;
    }
}