@import '../../styles//variables';

.movie-details-page {
    padding: $p-sm;

    &__top {
        display: flex;
        max-width: 85%;
        width: 100%;
        margin: 0 auto;
    }

    &__image-wrapper {
        max-width: 40rem;
        width: 100%;
        height: 60rem;
        flex-shrink: 0;
        margin-right: $m-sm;
    }

    &__image {
        height: 100%;
        object-fit: cover;
        border-right: 0.2rem;
    }

    &__info {
        flex-grow: 1;
    }

    &__block {
        margin-bottom: $m-sm;
    }

    &__label {
        font-size: $font-size-sm;
        font-weight: 700;
        letter-spacing: 0.1rem;
    }

    &__title {
        font-size: $font-size-xl;
        font-weight: 400;
        line-height: 2.5rem;
    }

    &__date {
        display: block;
        font-weight: 400;
        margin-bottom: $m-xs;
    }

    &__text {
        margin-bottom: $m-sm;
    }
}

.swiper-wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.swiper-pagination {
    bottom: 2rem;
}

.swiper-button-prev,
.swiper-button-next {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    background-color: rgba($color-primary, 0.35);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: rgba($color-primary, 0.65);
    transition: background-color .2s;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-prev:hover,
.swiper-button-prev:hover {
    color: $color-tertiary;
}

.movie-details-page__slide-image {
    height: 30rem;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background-color: $color-primary;
}
