@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root,
.app {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.6rem;
    font-family: $font-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style-type: none;
}

input {
    max-width: 300px;
    padding: 1.2rem 0.9rem;
}

header,
footer,
main {
    width: 100%;
}

header,
footer {
    background-color: $color-primary;
    color: #fff;
    text-align: center;
}

header,
footer {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

footer {

    .centerer {
        display: flex;
        flex-basis: content;
    }

    .fab.fa-github,
    .fab.fa-bitbucket {
        font-size: $font-size-xl;
        color: #fff;
        font-size: $font-size-xl;
        line-height: $font-size-xl;
    }

    .fab.fa-github {
        margin-right: $p-xs;
    }

    .fab.fa-bitbucket {
        margin-left: $p-xs;
    }

}

.centerer {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

fieldset,
legend {
    border: none;
    padding: 0;
}
