// Colors
$color-dark-100: #9f9f9f;
$color-dark-200: #414141;
$color-dark-300: #131313;
$color-light-100: #fff;
$color-light-200: #f6f6f6;
$color-light-300: #ccc;

$color-primary: #341100;
$color-secondary: #345600;
$color-tertiary: bisque;
$color-danger: red;

// Fonts
$font-primary: 'Lato', sans-serif;
$font-size-sm: 1.4rem;
$font-size-md: 1.6rem;
$font-size-lg: 1.8rem;
$font-size-xl: 2rem;


// Gutters
$p-xs: 1rem;
$p-sm: 1.5rem;
$p-md: 2rem;
$p-lg: 2.5rem;
$p-xl: 3rem;

$m-xs: 1rem;
$m-sm: 1.5rem;
$m-md: 2rem;
$m-lg: 2.5rem;
$m-xl: 3rem;

// Defaults
$default-fz: $font-size-md;
$default-ff: $font-primary;
$default-clr: $color-dark-200;
