@import '../../styles/variables.scss';

.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    &__main {
        flex-grow: 1;
    }

    &__search-wrapper {
        display: flex;
        background-color: $color-tertiary;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    input {
        margin-right: 1rem;
    }

}