@import '../../styles/variables.scss';

.navigation {

    &__list {
        display: flex;
        flex-direction: row;
    }

    &__list-item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: $m-md;
        }
    }

    &__icon {
        color: $color-tertiary;
        margin-right: $m-xs;
    }

    &__link {
        color: $color-tertiary;
        text-decoration: none;

        &.active,
        &:hover {
            color: $color-tertiary;
            text-decoration: underline $color-tertiary;
        }
    }
}