@import '../../styles/variables.scss';

.home-page {
    padding: 8rem -16rem;
}

.home-page__list {
    display: grid;
    // grid-template-columns: auto auto auto;
    // grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);    
    gap: 1.2rem;
    padding: 1.6rem;
}

.home-page__list-item {
    height: 40rem;
    position: relative;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border: 0.2rem solid;
    border-radius: 0.4rem;
    border-color: $color-primary;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-page__link {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    text-shadow: $color-tertiary 0 0 5px;
    border-top: 1px solid rgba(160,160,160,0.2);
    position: relative;
    padding: 1.6rem 2.4rem;
}

.home-page__empty-list {
    margin: $m-sm;
    font-size: $font-size-sm;
    font-style: italic;
}